/*.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }*/


:root {
  /* :root is a clever way of saying "the outer-most element" */

  --base: #ff4545; /* the default */
}


.background    { background: #D3D3D3;
                table-layout: fixed;
                border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: rgb(64, 64, 64);   }

.paint        { background: blue;
                /*border: 0.25px solid gray;*/}

.paint_white { background: white; }

.door {background: blue;}

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }

.player {
  /*background: #646464;*/
  background: var(--base);
  /*background: rgb(64, 64, 64);*/
  /*background: green;*/
 }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
  /*background: rgb(241,229,89);*/
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
